body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: hsl(229, 23%, 23%);
}

.background {
    background-color: hsl(185, 75%, 39%);
    height: 720px;
    width: 1440px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile-card {
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    height: 375px;
    width: 350px;
    overflow: hidden;
}

.upper-card {
    height: 140px;
    margin-bottom: 75px;
}

.mid-card {
    height: 70px;
    text-align: center;
    line-height: 15px;
    border-bottom: 1px solid lightgrey;
}

.lower-card {
    display: flex;
    justify-content: space-evenly;
}


.main-text {
    font-weight: 700;
}

.location,
.stat-label-text,
#age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.location {
    font-size: 14px;
}

.stats {
    text-align: center;
    line-height: 5px;
    padding: 15px 0;
}

.stat-label-text {
    font-size: 10px;
    letter-spacing: 1px;
}

.attribution {
    align-self: flex-end;
    font-weight: 400;
    font-size: 14px;
}

#user-avatar {
    position: relative;
    border: 6px solid white;
    border-radius: 50%;
    top: -50px;
    left: 125px;
    z-index: 2;
}

#age {
    margin-left: 5px;
}