body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: hsl(229, 23%, 23%);
    margin: auto 0;
}

.background {
    background-image: url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg),
        linear-gradient(hsl(185, 75%, 39%), hsl(185, 75%, 39%));
    background-position: -61% 203%, 149% -144%;
    background-repeat: no-repeat, no-repeat;
    height: 720px;
    width: 1440px;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.profile-card {
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    height: 375px;
    width: 350px;
    overflow: hidden;
}

.upper-card {
    background-image: url(images/bg-pattern-card.svg);
    height: 140px;
    margin-bottom: 75px;
}

.mid-card {
    height: 70px;
    text-align: center;
    line-height: 10px;
    border-bottom: 1px solid lightgrey;
}

.lower-card {
    display: flex;
    justify-content: space-evenly;
}


.main-text {
    font-weight: 700;
}

.location {
    font-size: 14px;
}

.location,
.stat-label-text,
#age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.stats {
    text-align: center;
    line-height: 3px;
    padding: 15px 0;
}

.stat-label-text {
    font-size: 10px;
    letter-spacing: 1px;
}

.attribution {
    align-self: flex-end;
    font-weight: 400;
    font-size: 14px;
}

#user-avatar {
    position: relative;
    border: 5px solid white;
    border-radius: 50%;
    top: 87px;
    left: 125px;
    z-index: 2;
}

#age {
    margin-left: 5px;
}

@media screen and (max-width: 500px) {
    .background {
        background-image: url(images/bg-pattern-top.svg),
            url(images/bg-pattern-bottom.svg),
            linear-gradient(hsl(185, 75%, 39%), hsl(185, 75%, 39%));
        background-position: 128% 195%, -25% -80%;
        background-repeat: no-repeat, no-repeat;
        height: 667px;
        width: 375px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .attribution {
        font-size: 12px;
        align-self: center;
    }
}